.card{
    width: 90%;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    color: var(--cor-primaria);
}

.buttonBar{
    width: 100%;
    height: 3rem;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.setStatusButton{
    width: 30%;
    height: 100%;
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    z-index: 100;
}

.contentContainer{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1 1rem 2.5rem 1rem;
}

.orderDetails{
    font-size: 2rem;
}

.orderItemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.3rem;
}

.orderItemContainer:nth-child(even){
    background-color: rgba(115, 148, 107, 0.3);
    color: var(--cor-quaternaria);
    display: flex;
    justify-content: center;
}

.itemsBox{
    width: 100%;
    display: flex;
    gap: 0.3rem;
}

.itemObservations{
    font-size: 0.85rem;
    opacity: 60%;
}