.card{
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor-primaria);
}

.cardTitle{
    font-size: 1rem;
}