.card{
    width: 90%;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--cor-terciaria);
    border-top: 30px solid var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1rem 2.5rem 1rem;
    color: var(--cor-primaria);
}

.orderDetails{
    font-size: 2rem;
}

.orderItemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin: 0.3rem
}

.orderItemContainer:nth-child(even){
    background-color: rgba(115, 148, 107, 0.5);
    color: var(--cor-quaternaria);
    padding: 0.5rem
}

.itemsBox{
    width: 100%;
    display: flex;
}

.itemObservations{
    font-size: 0.85rem;
    opacity: 60%;
}