.kanbanColumn{
    width: calc(100% / 3);
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: wrap;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    gap: 1rem;
    border-right: 4px solid rgba(0, 0, 0, 0.603);
}
.kanbanColumn:last-child{
    border-right: none;
}