.kanbanColumn{
    width: calc(100% / 3);
    min-height: calc(100vh - 10rem);
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: wrap;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    gap: 1rem;
    border-right: 4px solid rgba(0, 0, 0, 0.603);
}
.kanbanColumn:last-child{
    border-right: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .kanbanColumn{
        min-height: calc(100vh - 7.4rem);
    }
}
@media (max-width: 767px) {
     .kanbanColumn{
        min-height: calc(100vh - 6rem);
    }
}