.card{
    width: 90%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
}

.buttonBar{
    width: 100%;
    height: 3rem;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.setStatusButton{
    width: 30%;
    height: 100%;
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    z-index: 100;
}

.contentContainer{
    padding: 1 1rem 2.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.orderDetails{
    font-size: 2rem;
}

.orderItemContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.3rem;
}

.orderItemContainer:nth-child(even){
    background-color: rgba(115, 148, 107, 0.3);
    color: var(--cor-quaternaria);
}

.itemsBox{
    width: 100%;
    display: flex;
    gap: 0.3rem;
}

.itemObservations{
    font-size: 0.85rem;
    opacity: 60%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .buttonBar{
        height: 2.8rem;
    }
    .contentContainer{
        font-size: 0.8rem;
    }
    .orderDetails{
        font-size: 1.5rem;
    }
    .itemObservations{
        font-size: 0.56rem;
        opacity: 80%
    }
}
@media (max-width: 767px) {
    .buttonBar{
        height: 2.6rem;
    }
    .contentContainer{
        font-size: 0.6rem;
    }
    .orderDetails{
        font-size: 1.2rem;
    }
    .itemObservations{
        font-size: 0.4rem;
        opacity: 90%
    }
}