.kanbanHeader{
    width: 100%;
    height: 4.2rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-quinaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .kanbanHeader{
        height: 3.7rem;
    }
}
@media (max-width: 767px) {
     .kanbanHeader{
        height: 3rem;
    }
}