.kanbanHeader{
    width: 100%;
    height: 6rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-quinaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}