:root {
  --font-nunito: var(--font-nunito);
  --cor-primaria: #678b66;
  --cor-secundaria: #73946b;
  --cor-terciaria: #9ebc8a;
  --cor-quaternaria: #d1cfa0;
  --cor-quinaria: #e7e7e7;
  --cor-fundo: #d0e3c3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-nunito), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
