.main {
    padding: 50px;
    background-color: var(--cor-fundo);
    min-height: 852.5px;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 1720px;
    height: 760px;
    background-color: aqua;
}

.dashboard {
    width: 70%;
    height: 760px;
    background-color: black;
}

.titleDiv {
    width: 100%;
    height: 100px;
    background-color: var(--cor-quaternaria);
    display: flex;
    align-items: center;
    padding-left: 80px;
    gap: 120px;
    font-size: 12px;
}

.title {
    color: var(--cor-primaria);
    border-bottom: 3px solid lightgray;
}

.button {
    width: 420px;
    height: 100px;
    cursor: pointer;
    border: none;
    background-color: var(--cor-quaternaria);
    gap: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.button :hover {
    transform: scale(0.5);
    transition: 0.3s;
}

.buttonText {
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 28px;
}

.emoji {
    font-size: 56px;
    color: var(--cor-primaria);
}

.infosContainer {
    width: 100%;
    height: 95px;
    background-color: var(--cor-quinaria);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
}

.categoryTitle {
    font-weight: bold;
    color: var(--cor-quinaria);
    font-size: 20px;
    background-color: var(--cor-primaria);
    width: 120px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.dishTitle {
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    width: 100%;
    height: 90px;
    background-color: #e7e7e7;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
}