.header {
    width: 100%;
    height: 5rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoContent, .titleContent, .vazio {
    width: 33.3%;
    height: 100%;
}

.logoContent {
    position: relative;
    width: 64px;
    height: 64px;
}

.titleContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    color: var(--cor-quaternaria);    
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 1rem;
}


