.content{
    width: 100vw;
    height: 95vh;
    background-color: aqua;
}

/* Header do Kanban */
.kanbanHeader{
    width: 100%;
    height: 4rem;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnTitle{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleText{
    font-size: 2rem;
    text-align: center;
}

/* Quadro Kanban */
.kanbanFrame{
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    background-color: brown;
}
.kanbanColumn{
    width: calc(100% / 3);
    height: 100%;
    border-right: 1px solid black;
    background-color: #E5E5E5;
}
.kanbanColumn:last-child{
    border-right: none;
}