.content{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

/* Header do Kanban */
.kanbanHeader{
    width: 100%;
    height: 4rem;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collumTitle{
    width: 33.3%;
    text-align: center;
    background: #FFFFFF;
}
.titleText{
    font-size: 2rem;
}

/* Quadro Kanban */
.kanbanFrame{
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    background-color: brown;
}
.kanbanCollum{
    width: 33.3%;
    height: 100%;
    border-right: 1px solid black;
    background-color: #E5E5E5;
}
.kanbanCollum:last-child{
    border-right: none;
}