.content{
    width: 100vw;
    height: calc(100vh - 5rem);
}

/* Header do Kanban */
.kanbanHeader{
    width: 100%;
    height: 6rem;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnTitle{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleText{
    font-size: 2rem;
    text-align: center;
}