.columnTitle{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleText{
    color: var(--cor-septiaria);
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titleText{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    .titleText{
        font-size: 1rem;
    }
}